.gradle
local.properties
/.idea
/build
/buildSrc/.gradle/
/buildSrc/build/
/data/build
/data/google-services.json
/domain/build
/presentation/build
/presentation/release
/presentation/src/main/kotlin/style/carrot/android/secret/
